<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Imran Land Home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100" rel="stylesheet">
  <link href="css/type.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/modules.css" rel="stylesheet">
  <link href="css/theme.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>

  {{content}}

</body>
</html>
